NTFY_HOST=https://ntfy.sh
NTFY_TOPIC=gardenalerts
NTFY_TOKEN=<NTFY_TOKEN_HERE>

MQTT_BROKER=<IP_ADDRESS>
MQTT_PORT=1883
MQTT_USER=mqtt-user
MQTT_PASSWORD=changeme
MQTT_TOPIC=garden/sensors

DISABLE_MQTT=True